server:
  port: 8080

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/ck_shop
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true