server:
  port: 8080
  tomcat:
    max-http-form-post-size: 1000MB

spring:
  main:
    allow-bean-definition-overriding: true

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://kdt-java3-project-3.c1oby0nabaqs.ap-northeast-2.rds.amazonaws.com:3306/KDT-java3-project-3?characterEncoding=UTF-8&amp;serverTimezone=Asia/Seoul&allowMultiQueries=true
    username: admin_java3_3
    password: admin_javafull3_3

  springdoc:
    packages-to-scan: com.sherpa.exambank
    default-consumes-media-type: application/json;charset=UTF-8
    default-produces-media-type: application/json;charset=UTF-8
    swagger-ui:
      path: /swagger-ui
      disable-swagger-default-url: true
      display-request-duration: true
      operations-sorter: alpha

  # jsp setting
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  # live reload setting - auto reload
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
    thymeleaf:
      cache: false

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 10MB
      max-file-size: 10MB
      max-request-size: 10MB
      location: D:\upload\temp\bootS3

mybatis:
  mapper-locations: mappers/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    callSettersOnNulls: true

logging:
  level:
    org.springframwork.web : debug
    sql : off
    jdbc : off
    jdbc.sqlonly : debug