<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckcloud.common.mapper.ContentMapper">

    <!-- tb_post 테이블 전체 컬럼 -->
    <sql id="contentColumns">
        id
        , user_id
        , type
        , charge
        , view
        , title
        , keyword
        , description
        , regist_date
        , update_flag
        , update_date
        , delete_flag
        , delete_date
        , approve_flag
        , approve_user_id
    </sql>


    <!-- 게시글 저장  useGeneratedKeys="true" keyProperty="id"-->
    <insert id="save" parameterType="com.ckcloud.common.domain.ContentRequest">
        INSERT INTO tb_content (
                               user_id
                               , type
                               , charge
                               , view
                               , title
                               , keyword
                               , description
                               , regist_date
                               , update_flag
                               , update_date
                               , delete_flag
                               , delete_date
                               , approve_flag
                               , approve_user_id
        ) VALUES (
        #{userId}
        , #{type}
        , #{charge}
        , #{view}
        , #{title}
        , #{keyword}
        , #{description}
/*        , #{registDate}
        , #{updateFlag}
        , #{updateDate}
        , #{deleteFlag}
        , #{deleteDate}*/
        , #{approveFlag}
        , #{approveUserId}
        )
    </insert>


    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.ckcloud.common.domain.ContentResponse">
        SELECT
        <include refid="contentColumns" />
        FROM
        tb_content
        WHERE
        id = #{id}
    </select>


    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.ckcloud.common.domain.ContentRequest">
        UPDATE tb_content
        SET
            modified_date = NOW()
          , title = #{title}
          , content = #{content}
          , writer = #{writer}
          , notice_yn = #{noticeYn}
        WHERE
            id = #{id}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        UPDATE tb_content
        SET
            delete_yn = 1
        WHERE
            id = #{id}
    </delete>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" resultType="com.ckcloud.common.domain.ContentResponse">
        SELECT
        <include refid="contentColumns" />
        FROM
        tb_content
        WHERE
        delete_yn = 0
        ORDER BY
        id DESC
    </select>
</mapper>
