<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckcloud.common.mapper.ContentMapper">

    <!-- tb_post 테이블 전체 컬럼 -->
    <sql id="contentColumns">
        id
        , user_id
        , type
        , charge
        , view
        , title
        , keyword
        , description
        , regist_date
        , update_flag
        , update_date
        , delete_flag
        , delete_date
        , approve_flag
        , approve_user_id
    </sql>


    <!-- 게시글 저장  useGeneratedKeys="true" keyProperty="id"-->
    <insert id="save" parameterType="com.ckcloud.common.domain.ContentRequest">
        INSERT INTO tb_content (
                               title
                               , keyword
                               , description

        ) VALUES (
         #{title}
        , #{keyword}
        , #{description}

        )
    </insert>
    <!-- 게시글 리스트 조회 -->
    <select id="findAllContent" resultType="com.ckcloud.common.domain.ContentResponse">
        select <include refid="contentColumns" />
            from tb_content order by regist_date desc
    </select>

    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="int" resultType="com.ckcloud.common.domain.ContentResponse">
        SELECT
        <include refid="contentColumns" />
        FROM
        tb_content
        WHERE
        id = #{id}
    </select>


    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.ckcloud.common.domain.ContentResponse">
        UPDATE tb_content
        SET update_date = NOW(),
            title = #{title},
            description = #{description},
            keyword = #{keyword}
        WHERE
            id = #{id}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="int">
        UPDATE tb_content
        SET
            delete_date = now(),
            delete_flag = 1
        WHERE
            id = #{id}
    </delete>



</mapper>
