cloud:
  aws:
    credentials:
      access-key: ${cloud.aws.credentials.access-key}
      secret-key: ${cloud.aws.credentials.secret-key}
    region:
      static: ap-northeast-2
    stack:
      auto: false

application:
  bucket:
    name: ${application.bucket.name}


spring:
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 0B
      max-file-size: 5MB
      max-request-size: 10MB
      location: E:\upload\temp\bootS3
  profiles:
    include: s3 , db
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

server:
  port: 8094


